@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  /* border: 0.5px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
}

body {
  font-size: 1.8rem;
}

#spaceinvaders-logo {
  margin: 40px;
}

/* 
/
/
/
HOME PAGE
/
/
/
*/

.homepage {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.transform-left {
  width: 50vw;
  transition: width 500ms ease-in-out;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  color: green;
  font-family: "VT323", monospace;
  font-weight: bold;
  font-size: 3rem;

  margin: 30px;
  /* box-shadow:   -15px 0 0 0 black,
               15px 0 0 0 black,
               0 -15px 0 0 black,
               0 15px 0 0 black; */
}

.button:hover {
  background-color: rgb(175, 175, 175);
}

.container-rules {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.container-rules h2 {
  padding: 30px 0;
}

.container-rules p {
  padding: 15px 0;
  text-align: center;
}

#arrowkey-container {
  display: flex;
}

#arrow-explain {
  width: 70%;
}
#arrow-img-container {
  width: 30%;
  display: flex;
  justify-content: center;
}

#arrowkey-img {
  width: 85px;
}

/* 
/
/
/
GAME PAGE
/
/
/
*/

.gamepage {
  padding: 0 60px;

  visibility: hidden;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);

  opacity: 0;
}

.transform-fade {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.gamepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container {
  display: flex;
  justify-content: center;
}

#button-container .button {
  font-size: 2rem;
}

#homepage-button {
  color: red;
}

#start-button {
  cursor: pointer;
}

#canvas-container {
  position: relative;
}

canvas {
  border: 1px solid black;
}

.message-container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);

  position: absolute;
  top: 0;
  width: 600px;
  height: 500px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px;
  font-size: 3rem;
  z-index: 1;
}

#lose-message {
  color: red;
}

#win-message {
  color: green;
}
