@import url("http://fonts.cdnfonts.com/css/serious");

* {
  /* border: 0.5px solid red; */
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* color: white; */
  font-family: "serious1", sans-serif;
}

body {
  font-size: 1.4rem;
}

header {
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#spaceinvaders-logo {
  margin: 40px;
}

#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  color: green;
  font-family: "serious1", sans-serif;
  font-weight: bold;
  font-size: 3rem;

  margin: 30px;
  /* box-shadow:   -15px 0 0 0 black,
               15px 0 0 0 black,
               0 -15px 0 0 black,
               0 15px 0 0 black; */
}

.button:hover {
  background-color: rgb(175, 175, 175);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px 0;
}

#gamepage {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button-container {
  display: flex;
}

#homepage-button {
  color: red;
}

#start-button {
  cursor: pointer;
}

#canvas-container {
  position: relative;
}

canvas {
  border: 1px solid black;
}

.message-container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);

  position: absolute;
  top: 0;
  border: 1px solid red;
  width: 600px;
  height: 500px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px;
  font-size: 3rem;
  z-index: 1;
}

#lose-message {
  color: red;
}

#win-message {
  color: green;
}